<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/output.css" rel="stylesheet">
    <title>Express example app</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/assets/todo-list.js"></script>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto p-4 ">
        <div class="p-4 bg-white rounded-lg grid ">
            <h1 class="font-bold text-4xl text-center ">Todo App</h1>
            <form action="/todo" method="POST">

                <div class="flex justify-center items-center mt-5">
                    <div class="lg:w-1/3  w-full">
                        <input name="todo" type="text" placeholder="Add item..."
                            class="border-2 rounded-lg p-2 w-full" />
                    </div>
                    <div>
                        <button class="bg-gray-800 text-white rounded-lg p-2 px-7 hover:bg-gray-500">Add</button>
                    </div>
                </div>
            </form>

            <ul class="mt-5 lg:w-2/5 w-full mx-auto ">
                <% for (var i=0; i < todos.length; i++) { %>
                    <li id="list" class="border p-3 mb-3 shadow-lg hover:shadow-sm flex justify-between items-center">
                        <span id="todoId" class="hidden">
                            <%= todos[i].id %>
                        </span>
                        <span>
                            <%= todos[i].name %>
                        </span>
                        <div>
                            <!-- <svg class="" style="width: 15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path
                                    d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z" />
                            </svg> -->
                            <button type="submit" class="hover:font-bold hover:text-2xl">X</button>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>
</body>


</html>