<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/output.css" rel="stylesheet">
    <title>Express example app</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/assets/todo-list.js"></script>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto p-4 ">
        <div class="p-4 bg-white rounded-lg grid ">
            <h1 class="font-bold text-4xl text-center ">Todo App</h1>
            <form action="/todo" method="POST">

                <div class="flex justify-center items-center mt-5">
                    <div class="lg:w-1/3  w-full">
                        <input name="todo" type="text" placeholder="Add item..."
                            class="border-2 rounded-lg p-2 w-full" />
                    </div>
                    <div>
                        <button class="bg-gray-800 text-white rounded-lg p-2 px-7 hover:bg-gray-500">Add</button>
                    </div>
                </div>
            </form>

            <ul class="mt-5 lg:w-2/5 w-full mx-auto ">
                <% for (var i=0; i < todos.length; i++) { %>
                    <li id="list" class="border p-3 mb-3 shadow-lg hover:shadow-sm flex justify-between items-center">
                        <span id="todoId" class="hidden">
                            <%= todos[i].id %>
                        </span>
                        <span>
                            <%= todos[i].name %>
                        </span>

                        <button type="submit" class="hover:font-bold hover:text-2xl">X</button>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>
</body>


</html>